<div class="item">
      <div>Categoria</div>
      <div>
        <label for-id="categoryProduct" class="sr-only">Categoria do produto</label>  
        <select name="category_id" id="categoryProduct">
          {% for category in categories %}
            <option value="{{ category.id }}" {% if product.category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
  </div>

<div class="item">
    <div>Nome</div>
    <div>
      <label for-id="nameProduct" class="sr-only">Nome do produto</label>  
      <input type="text" id="nameProduct" name="name" placeholder="Digite o título do anúncio" value="{{ product.name }}">
    </div>
</div>

<div class="item">
    <div>Descrição</div>
    <div>
      <label for-id="descriptionProduct" class="sr-only">Descrição do produto</label>
      <textarea name="description" id="descriptionProduct">{{ product.description }}</textarea>
    </div>
</div>


<div class="item">
    <div>Fotos</div>
    <div>
      <div id="photos-upload">
        <label for-id="photo-input" class="sr-only">Foto do produto</label>
        <input type="file" name="photos" id="photo-input" multiple accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
        <p>Selecione até 6 fotos</p>
      </div>

      <div id="photos-preview">
         {% if files %}
            {% for image in files %}
                <div class="photo" id="{{ image.id }}">
                  <img src="{{ image.src }}" alt="{{ image.name }}">
                  <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                </div>
            {% endfor %}
            <input type="hidden" name="removed_files">
         {%endif%}
      </div>
    </div>
</div>


<div class="item">
    <div>Valor</div>
    <div>
      <label for-id="priceProduct" class="sr-only">Preço do produto</label>
      <input type="text" id="priceProduct" name="price" placeholder="Preço do produto" value="{{ product.price }}" onkeydown="Mask.apply(this, 'formatBRL')">
    </div>

    {% if product.old_price%}
        <label for-id="oldPriceProduct" class="sr-only">Preço antigo do produto</label>
        <input type="hidden" id="oldPriceProduct" name="old_price" value="{{ product.old_price }}">
    {%endif%}
</div>


<div class="item">
    <div>Quantidade</div>
    <div>
      <label for-id="quantityProduct" class="sr-only">Quantidade de produto</label>  
      <input type="number" id="quantityProduct" name="quantity" placeholder="Estoque disponível" value="{{ product.quantity }}">
    </div>
</div>

{% if (product.status == '1') or (product.status == '0')%}
<div class="item">
    <div>Disponível ?</div>
    <div>
      <span>
        <label for-id="statusProductYes" class="sr-only">O produto está disponível?</label>
        <input type="radio" id="statusProductYes" name="status" value="1" {% if product.status == '1' %}checked{% endif %}>Sim
      </span>
      <span>
        <label for-id="statusProductNo" class="sr-only">O produto não está disponível?</label>
        <input type="radio" id="statusProductNo" name="status" value="0"{% if product.status == '0' %}checked{% endif %}>Não
      </span>
    </div>
</div>
{%endif%}